<%- include('../partials/header.ejs')%>

<section id="breadcrumb">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>login</h2>
      </div>
    </div>
  </div>

</section>

<div class="container py-5">

  <div class="row">
    <div class="col-md-5 mx-auto login_box"> 
      
  
<form method="post">


     
    <% if(message.success){ %>
    <div class="alert alert-success"><%= message.success %></div>
    <% }else if(message.fail) { %>
    <div class="alert alert-danger"><%= message.fail %></div>
    <% } %>

      <% if(typeof message_show != "undefined") {%>
        <div class="alert alert-danger"><%= message_show%></div>

      <% } %>
    <h1>Login</h1>
    <label for="email"><b>Email</b></label>
    <input type="text" class="form-control" placeholder="Enter Email" name="email" id="email" />

    <label for="psw"><b>Password</b></label>
    <input type="password" class="form-control"  placeholder="Enter Password" name="password" id="pass" />
    <div class="g-recaptcha" data-sitekey="6Lcn_b0mAAAAADO487_52AVuD65Q_lsqlH8EUfy8"></div>
    <button type="submit" class="log_btn action_btn d-block w-100">Login</button> 
    <!-- <a href="/auth/facebook" class="loginBtn loginBtn--facebook">
      Login with Facebook
    </a> -->
    
    <a href="/auth/google" class="loginBtn  loginBtn--google">
      Login with Google
    </a>
    <a href="/auth/twitter" class="loginBtn  loginBtn--google">
      Login with Twitter
    </a>
 
 
    <div class="row">
      <div class="col-md-6 mt-2">
        <p class="mb-0" style="font-size: 14px;">Not a member ?  <a href="/register" class="anchor_btn">Sign Up</a>.</p>
  
      </div>
      <div class="col-md-6 mt-2">
        <p class="mb-0" style="font-size: 14px;">Forgot Password?  <a href="/forgot_password" class="anchor_btn">Click Here</a>.</p>
      </div>

     
      
      
    </div>
    
</form>
</div>
</div>
</div>

<%- include('../partials/footer.ejs'); %>
